html, body{
	margin: 0;
	padding: 0;
}
/*.menu{
	height: 100px;
}*/

.container-fluid{
/*	padding-top: 20px;*/
}
.navbar-right{
	margin-right: 100px;
}
/*Слайдер*/
.slider{
	height: 570px;
	margin-top: -20px;
	background: url('../img/Layer 1.png') no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	border-bottom: 4px solid #f34949;
}

.slider>img{
	display: block;
	margin-left: 18%;
    margin-top: 18%;
}
/*Под слайдером*/
.ander_slider{
	height: 600px;
}
.ander_slider>div:nth-of-type(1){
	height: 70px;
	background: url('../img/Shape 13.png') no-repeat;
}

.vcenter{
  display: block;
  float: none;
  vertical-align: middle;
   margin-left: 40%;
}
.recept{
	float: left;
}

.block_recept{
	margin-top: 30px;
}

.recept>div>div>h4{
	float: left;
}
.recept>div>div>img{
	display: block; 
	float: left; 
	margin-top: 20px;
	margin-left: 40px;
	margin-bottom: 20px;
}
.price{
	margin-top: 10px;
}